.login{

    height: 400px;
    width: 400px;
    background-color: rgb(104, 100, 100);
    padding: 20px;
   text-align: center;
   justify-content: center;
   border: 1px solid black;
   border-radius: 8px;
   
}

.mainLog{
    
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;

}